#nav nav {
    /* Stick the nav bar to the top, regardless of scrolling. Check out how this works on mobile */
    position: sticky;
    position: -webkit-sticky;
    top: 0; /* required */
}

#nav ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#nav li {
    float: left;
    /* Gray Right border between nav items */
    border-right: 1px solid #292929;
}

#nav li:last-child {
    border-right: none;
}

#nav li a {
    display: block;
    color: #292929;
    text-align: center;
    padding: 14px 16px;
    font-size: large;
    text-decoration: none;
}

/* Change the link color on hover */
#nav li a:hover {
    background-color: #82c0ff;
}

/* Fist item is a title, so let's treat it a bit different. */
#nav li p {
    display: block;
    color: #292929;
    text-align: center;
    padding: 14px 16px;
    margin: 0;
    font-size: large;
    text-decoration: none;
}

#nav li:first-child {
    border-bottom: 1px solid #292929;
}

/* When you are on the page corresponding to the menu item - change its background color */
#nav .nav_active {
    background-color: #82c0ff;
}
